.footer {
  background-color: var(--primary-black);
  padding: 0rem 2.4rem 6.4rem;

  &__upper-group {
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    padding-top: 25.3rem;
    padding-bottom: 3.2rem;

    & .footer__contact-us {
      position: absolute;
      top: -18rem;

    }


  }

  &__lower-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    & .footer__contact-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }

    & .footer__social-group {
      display: flex;
      width: 18.4rem;
      justify-content: space-between;
      align-items: center;
    }
  }

}