.footer {
  background-color: var(--primary-black);

  &__upper-group {
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    padding-top: 25.3rem;
    padding-bottom: 3.2rem;

    & .footer__contact-us {
      position: absolute;
      top: 0rem;
    }


  }

  &__lower-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    & .footer__contact-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }
  }

}